<h1 class="marty">Welcome to Marty's Wing Shack</h1>
<h2 class="kobes">Big, meaty chicken wings, seasoned with our special mix of spices, deep fried to a perfect golden brown, tossed in one of our delicious sauces, and served with buttermilk ranch dressing on the side.</h2>
<h3 class="kobes">Click on the link below, sign in and enjoy! <br />
<%= link_to "Marty's Menu", menus_path %></h3>
